body {
    font-family: "Georgia", sans-serif;
    text-align: center;
    background-color: #a9e9c4b2;
    margin: 1;
    padding: 1;
}


header {
    background-color: #525050;
    color: white;
    padding: 10px;
}


nav a {
    color: rgb(89, 161, 122);
    text-decoration: none;
    margin: 10px;
}


nav a:hover {
    text-decoration: underline;
}


.container {
   margin: 20px auto;
    width: 82%;
    background: rgb(242, 243, 233);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.text-left {
    text-align: left;
}

img {
    width: 200px;
    border-radius: 8px;
    margin: 10px;
}
